<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="{:U('admin/index/index/index')}"
			class="maincolor">首页</a>
		<span class="c-999 en">&gt;</span>
		<span class="c-666">我的桌面</span>
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<p class="f-20 text-success">欢迎使用yjadmin
				<span class="f-14">v1.0</span>
				后台管理系统！
			</p>
			<table class="table table-border table-bordered table-bg mt-20">
				<thead>
					<tr>
						<th colspan="2" scope="col">服务器信息</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>服务器地址</th>
						<td>{$system['host']}</td>
					</tr>
					<tr>
						<th>操作系统</th>
						<td>{$system['os']}</td>
					</tr>
					<tr>
						<th>运行环境</th>
						<td>{$system['software']}</td>
					</tr>
					<tr>
						<th>PHP版本</th>
						<td>{$system['php_version']}</td>
					</tr>
					<tr>
						<th>PHP运行方式</th>
						<td>{$system['php_sapi_name']}</td>
					</tr>
					<tr>
						<th>MYSQL版本</th>
						<td>{$system['mysql_version']}</td>
					</tr>
					<tr>
						<th>上传附件限制</th>
						<td>{$system['upload_max']}</td>
					</tr>
					<tr>
						<th>执行时间限制</th>
						<td>{$system['max_execution_time']}</td>
					</tr>
					<tr>
						<th>剩余空间</th>
						<td>{$system['free_space']}</td>
					</tr>
				</tbody>
			</table>
		</article>
		<footer class="footer">
				Copyright &copy;2020 yjadmin v1.0 All Rights Reserved.
		</footer>
	</div>
</section>